<!DOCTYPE html>
<html style="font-size: 16px;">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta content="fullscreen=yes,preventMove=yes" name="ML-Config">

		<meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">

		<link rel="stylesheet" href="__PUBLIC__/Home/upRefresh/css/reset.css"/>
		<link rel="stylesheet" href="__PUBLIC__/Home/upRefresh/css/pullToRefresh.css"/>

		<title>美丽乡居</title>

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/search/index.css" media="all">
	</head>

	<body>
<div style="padding:0.5rem 0;padding-left: 0.8rem;font-size: 14px;background: #c3AB64;" ><a href="javascript:return_prepage();" style="color: #fff;">&lt; 返回</a></div>

		<div class="click_up">
			<div class="banner">
				<span>城市筛选:</span>
				<ul>
					<foreach name='city' item='v' key='k'>
					<li class=""><a href="javascript:;" onclick="selectArea('{$v.cityname}')">{$v.cityname}</a></li>
					</foreach>
				</ul>
			</div>
		</div>

		<style type="text/css">
			.click_up{
				position: relative;
				z-index: 10000;
				padding: 1rem 1rem;
				background: #fff;
				width: 100%;
			}
			.banner span{
				font-size: 16px;
				margin-bottom: 0.6rem;
				display: inline-block;
			}
			.banner li{
				float: left;
				border: 1px solid #ccc;
				font-size: 14px; 
				padding: 0.7rem;
				margin-bottom: 0.3rem;
				margin-right: 0.3rem;
			}
			
		</style>
	</body>

	<script src="__PUBLIC__/Admin/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/index.js"></script>
	<script type="text/javascript">
		function selectArea(city) {
			window.location.href="http://mei.vshijie.cn/bk/index.php/Home/House/ajaxCity?city="+encodeURIComponent(city);
		}
	</script>