<!DOCTYPE html>
<html style="font-size: 16px;">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta content="fullscreen=yes,preventMove=yes" name="ML-Config">

		<meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">
		<link href="http://m.lianjia.com/favicon.ico" rel="apple-touch-icon-precomposed">
		<link href="http://m.lianjia.com/favicon.ico" rel="Bookmark">
		<link href="http://m.lianjia.com/favicon.ico" rel="apple-touch-icon">

		<title>美丽新乡村-商务合作</title>
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/home/index.css" media="all">
	</head>

	<style type="text/css">
	.banner{
		padding: 0 1rem;
		font-size: 0.8rem;
		padding-top: 0.5rem;
	}
	.banner ul li{
		list-style: none;
		width: 25%;
		height: 2rem;
		float: left;
		margin-right: 0.5rem;
		font-size: 0.8rem;
		margin-top: 0.5rem;
		text-align: center;
		border: 1px solid #ccc;
		padding: 0.5rem;
		border-radius: 5px;
	}

	</style>
    

	<body>
	<div style="padding:0.5rem 0;padding-left: 0.8rem;font-size: 14px;background: #00AB64;" onclick="return_prepage()" ><a href="javascript:return_prepage();" style="color: #fff;">&lt; 返回</a></div>
		<div class="lj-pages">
			<section style="" class="d-page" page-model="index/index">
				<div class="section-wrapper">
					<header style="width:100%;background: #39AC6A" class="home-header">
						<h1 style="line-height: 3rem;text-align: center;color: #fff">商务合作</h1>
					</header>
					<div class="banner">
						{$data.about}
					</div>
			</section>
		</div>

		
	</body>

	<script type="text/javascript" src="__PUBLIC__/Home/index.js"></script>

</html>