<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta content="fullscreen=yes,preventMove=yes" name="ML-Config">

		<meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">

		<title>自在乡居-预订乡居</title>
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/release/index.css" media="all">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/details/index.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/Admin/laydate/need/laydate.css">
		<style>
		.text{
			width: 70%;
			height: 2rem;
			border: 1px solid #ccc;
			border-radius: 3px;
			padding: 0 1rem;
		}
		.appoint {
			border: none;
			background: #c3AB64;
			color: #FFFFFF;
			padding: 0.5rem;
			width:48%;
			display:inline;
			font-size:16px;
		}
		.fee {
			border: none;
			background: #FFFFFF;
			padding: 0.5rem;
			width:48%;
			display:inline;
			font-size:16px;
		}
		</style>
	</head>

	<body>
		<div class="lj-pages">
			<section style="" class="d-page" page-model="yezhu/yezhu">
				<div class="yezhu-wrapper">
					<div class="list">
						<div class="step stepon steps" data-page="step1">
							<div class="header"  style="z-index: 0;">
								<span class="tips" >
									<a  href="javascript:window.history.back();">&nbsp;&nbsp;<i></i>返回</a>
								</span>
								<span class="title">{$result.name}</span>
							</div>

							<ul class="stepChange" style="padding-top: 1.25rem;margin-top: 0px;">
								<li><span style="font-size:20px;font-weight:bold;">
									<?php if($result['type']==0):?>
			                            <span>院子</span>
			                        <?php elseif($result['type']==1):?>
			                            <span>窑洞</span>
			                        <?php elseif($result['type']==2):?>
			                            <span>木屋</span>
			                        <?php elseif($result['type']==3):?>
			                            <span>别墅</span>
			                        <?php endif?>
			                        +
			                        <?php if($result['bed_type']==0):?>
			                            <span>高级大床房</span>
			                        <?php elseif($result['bed_type']==1):?>
			                            <span>标准间</span>
			                        <?php elseif($result['bed_type']==2):?>
			                            <span>三人间</span>
			                        <?php endif?>
								</span>
								</li>
								<li>
									<label id="sessionBegin">{$Think.session.begin}</label>&nbsp;
									<label id="sessionEnd">{$Think.session.end}</label>
									&nbsp;住{$total}晚
									<a id="changeDate" onclick="changeDate()" href="#"><font color="red">点此可修改订单日期</font></a>
								</li>
								<li id="beginLi" style="display:none;">
									<input type="text" id="beginTime" class="text laydate-icon" style="height: 2.1875rem;width: 100%;border-radius: 0.1875rem;text-align: center;"
										placeholder="入住" required="required" value="{$Think.session.begin}"/>
								</li>
								<li id="endLi" style="display:none;">
									<input type="text" id="endTime" class="text laydate-icon" style="height: 2.1875rem;width: 100%;border-radius: 0.1875rem;text-align: center;"
										placeholder="退房" required="required" value="{$Think.session.end}">
								</li>
								<li>
									<table width="100%">
										<tr><td style="width: 48px;">设施：</td>
											<td style="font-size:14px;">
											<span id="facility6" style="display:none;margin:1px;width:135px;"><span class="icons-facility6"></span>免费旅游交通图</span>
											<span id="facility32" style="display:none;margin:1px;width:135px;"><span class="icons-facility32"></span>wifi无线上网</span>
											<span id="facility60" style="display:none;margin:1px;width:135px;"><span class="icons-facility30"></span>中餐厅</span>
											<span id="facility13" style="display:none;margin:1px;width:135px;"><span class="icons-facility13"></span>西餐厅</span>
											<span id="facility16" style="display:none;margin:1px;width:135px;"><span class="icons-facility16"></span>会议厅</span>
											<span id="facility39" style="display:none;margin:1px;width:135px;"><span class="icons-facility39"></span>洗衣服务</span>
											<span id="facility10" style="display:none;margin:1px;width:135px;"><span class="icons-facility10"></span>行李寄存</span>
											<span id="facility9" style="display:none;margin:1px;width:135px;"><span class="icons-facility9"></span>叫醒服务</span>
											<span id="facility28" style="display:none;margin:1px;width:135px;"><span class="icons-facility28"></span>接机服务</span>
											<span id="facility17" style="display:none;margin:1px;width:135px;"><span class="icons-facility17"></span>24小时前台服务</span>
											<span id="facility5" style="display:none;margin:1px;width:135px;"><span class="icons-facility5"></span>免费洗漱用品</span>
											<span id="facility4" style="display:none;margin:1px;width:135px;"><span class="icons-facility4"></span>免费瓶装水</span>
											<span id="facility7" style="display:none;margin:1px;width:135px;"><span class="icons-facility7"></span>24小时热水</span>
											<span id="facility34" style="display:none;margin:1px;width:135px;"><span class="icons-facility34"></span>电热水壶</span>
											<span id="facility42" style="display:none;margin:1px;width:135px;"><span class="icons-facility42"></span>小冰箱</span>
											<span id="facility8" style="display:none;margin:1px;width:135px;"><span class="icons-facility8"></span>吹风机</span>
											</td>
										</tr>
									</table>
								</li>
							</ul>
							<!--
							<ul>
								<li>
									<input class="text" name="r_name" placeholder="您的姓名" validate="notNull" validatename="您的姓名" required="required" type="text">
								</li>
								<li>
									<span>您的性别</span>
									<input name="r_sex" type="radio" value="0" checked>男</input>
									<input name="r_sex" type="radio" value="1">女</input>
								</li>
								<li>
									<input class="text" name="r_phone" placeholder="您的联系方式" validate="notNull" validatename="您的联系方式" required="required" type="text">
								</li>
								
							</ul>-->
							<input type="hidden" name="hid" value="{$Think.get.hid}">
							<ul><li><font color="#FF0000;">温馨提示：费用中收取了一晚房费的押金，退房后退还</font></li></ul>
							<div style="background:#FFFFFF;width:100%">
								<button class="fee" id="feeTotal">￥{$r_fee}</button>
								<button id="appointBtn" class="appoint" type="submit">预定</button>
							</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- 其他模板的js文件引入的部份結束 -->
		<script type="text/javascript" src="__PUBLIC__/Home/index.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Home/common.js"></script>
		<script src="__PUBLIC__/Admin/plugins/jQuery/jQuery-2.1.4.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/layer/1.9.3/layer.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<!-- 其他模板的js文件引入的部份結束 -->
	</body>
  <script type="text/javascript" src='__PUBLIC__/Admin/laydate/laydate.js'></script>

    <script type="text/javascript">
	$(function(){
	   var facility = new Array({$result.facility});
		$.each(facility,function(i,item){
			$("#facility"+item).css("display","inline-block");
		});
			
		var oid=getCookie('oid');
	    if(oid==null) {
	    	var url ='http://mei.vshijie.cn/minsu/index.php/Home/Weixin/callOpenid?u='+encodeURIComponent(window.location.href);
			window.location.href=url;
		}
		if(navigator.userAgent.toLowerCase().indexOf("micromessenger") != -1) {
			$.ajax({
				url: "http://mei.vshijie.cn/bk/index.php/Home/Weixin/ajaxConfig",
				type: 'POST',
				dataType: 'json',
				data: {u: window.location.href},
				success:function(data){
					wx.config({
						debug: false,
						appId: data.appId, // 必填，公众号的唯一标识
					    timestamp: data.timestamp, // 必填，生成签名的时间戳
					    nonceStr: data.nonceStr, // 必填，生成签名的随机串
					    signature: data.signature,// 必填，签名，见附录1
						jsApiList: [
							"chooseWXPay"
						]
					});
				}
			});
		}
		$('#appointBtn').click(function(event) {
			var hid = $('input[name=hid]').val();
			$("#appointBtn").attr('disabled',"true");
			$.ajax({
				url: "http://mei.vshijie.cn/bk/index.php/Home/Pay/ajaxSign",
				type: 'POST',
				dataType: 'json',
				data: {hid:hid,openid:oid},
				success:function(data){
					if (data.status == 1) {
						wx.chooseWXPay({
						    timestamp: data.timeStamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
						    nonceStr: data.nonceStr, // 支付签名随机串，不长于 32 位
						    package: data.package, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
						    signType: data.signType, // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
						    paySign: data.paySign, // 支付签名
						    success: function (res) {
					        	var url ='http://mei.vshijie.cn/bk/index.php/Home/Pay/ajaxAppoint?u='+
					        	encodeURIComponent('http://mei.vshijie.cn/bk/index.php/Home/House/index?id={$Think.get.hid}')+
					        	'&oid='+oid;
					        	layer.msg('亲爱的村民，您的订单已确认。村支书温馨提示：入住前24小时内可免费取消或修改订单，如果不满24小时内的调整，则需要扣除当天房费，调整流程欢迎致电13718138279，祝您享用乡下美好时光！',
					        	 {icon: 1, time:8000}, function(){
									window.location.href=url;
								});
						    }
						});
					} else {
						layer.msg('您预订的时段已满', {icon: 2}); 
					}
				},
				error: function(XMLHttpRequest, textStatus, errorThrown){
					alert(errorThrown);
				},
				fail: function(){
					alert("fail");
				}
			});
			$('#appointBtn').removeAttr("disabled");
		});
	})
	
	    function calculate() {
    		var begin = $('#beginTime').val();
			var end = $('#endTime').val();
    		if(begin=='' || end=='') {
    			layer.msg('请选择开始时间', {icon: 2,time: 2000});
    		} else {
    			var days = getDateDiff(begin,end);
    			$("#feeTotal").html('￥'+((days+1)*{$result.price}));
    		}
    	}
    	function getDateDiff(startDate,endDate)  {  
		    var startTime = new Date(Date.parse(startDate.replace(/年/g,   "-").replace(/月/g,   "-").replace("日\(入住\)",   ""))).getTime();     
		    var endTime = new Date(Date.parse(endDate.replace(/年/g,   "-").replace(/月/g,   "-").replace("日\(退房\)",   ""))).getTime();     
		    var dates = (endTime-startTime)/(1000*60*60*24);    
		    if(dates<1) {
		    	dates=1;
		    } 
		    return  dates;    
		}
		
		var start = {
	            elem: '#beginTime',
	            format: 'YYYY年MM月DD日(入住)',
	            min: laydate.now(), //设定最小日期为当前日期
	            max: '2099-12-31 23:59:59', // 最大日期
	            istime: true, // 是否开启时间选择
	            isclear: true, // 是否显示清空
	            istoday: true, // 是否显示今天
	            issure: true, // 是否显示确认
	            festival: true, // 是否显示节日
	            start:laydate.now(), // 开始日期
	            choose: function(datas){ // 选择好日期的回调
	                end.min = datas; //开始日选好后，重置结束日的最小日期
	                end.start = datas; //将结束日的初始值设定为开始日
	                $('#sessionBegin').html($('#beginTime').val());
	                $('#sessionEnd').html($('#endTime').val());
	                $.ajax({
						url: "http://mei.vshijie.cn/bk/index.php/Home/house/beginSession?d="+datas,
						type: 'POST',
						dataType: 'text'
					});
					calculate();
	            }
	        };
	        var end = {
	            elem: '#endTime',
	            format: 'YYYY年MM月DD日(退房)',
	            min: laydate.now(),
	            max: '2099-12-31 23:59:59',
	            istime: true,
	            isclear: true,
	            istoday: true,
	            issure: true,
	            festival: true,
	            choose: function(datas){
	                start.max = datas; //结束日选好后，重置开始日的最大日期
	                $('#sessionBegin').html($('#beginTime').val());
	                $('#sessionEnd').html($('#endTime').val());
	                $.ajax({
						url: "http://mei.vshijie.cn/bk/index.php/Home/house/endSession?d="+datas,
						type: 'POST',
						dataType: 'text'
					});
					calculate();
	            }
	        };
	        laydate.skin('default');
	        laydate(start);
	        laydate(end);
	        
	        function changeDate() {
	        	$("#beginLi").show();
	        	$("#endLi").show();
	        }
	</script>
</html>