<!DOCTYPE html>
<html style="font-size: 16px;">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta content="fullscreen=yes,preventMove=yes" name="ML-Config">

		<meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">
		<link href="http://m.lianjia.com/favicon.ico" rel="apple-touch-icon-precomposed">
		<link href="http://m.lianjia.com/favicon.ico" rel="Bookmark">
		<link href="http://m.lianjia.com/favicon.ico" rel="apple-touch-icon">

		<title>乡居预定-评价</title>
		
		<meta name="keywords" content="北京房产网,北京房地产,北京房产,北京房屋交易,北京房地产交易平台">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/release/index.css" media="all">
	</head>

	<body>

		<div class="lj-pages">

			<section style="" class="d-page" page-model="yezhu/yezhu">
				<div class="yezhu-wrapper">
					<div class="step stepon steps" data-page="step1">
						<div class="header"  style="z-index: 0;"><span class="tips" ><a  href="javascript:window.history.back();"><i></i>返回</a></span><span class="title">看房后反馈</span></div>
						<ul >
							<li>
								乡居评分
							</li>
							<li>
								<span><img src="__PUBLIC__/Home/pay/star_gray.png" onclick="chooseStar(1)" id="star1"/></span>
								<span><img src="__PUBLIC__/Home/pay/star_gray.png" onclick="chooseStar(2)" id="star2"/></span>
								<span><img src="__PUBLIC__/Home/pay/star_gray.png" onclick="chooseStar(3)" id="star3"/></span>
								<span><img src="__PUBLIC__/Home/pay/star_gray.png" onclick="chooseStar(4)" id="star4"/></span>
								<span><img src="__PUBLIC__/Home/pay/star_gray.png" onclick="chooseStar(5)" id="star5"/></span>
							</li>
							<li>
								交通如何，服务是否周到？（写够15字，才是好同志～）
							</li>
							<li style="height:5rem;">
								<textarea style="width: 70%;height: 3.5rem;border: 1px solid #ccc;border-radius: 3px;padding: 0.4rem 1rem;margin-top: 0.5rem;font-size: 0.8rem;" class="f-text" id="mess_text" placeholder="宝贵建议" validate="notNull" validatename="" required="required" type="text"></textarea>
							</li>
						</ul>
						<div class="step1 next steps" ><button style="border: none;background: #39AC6A;color: #FFFFFF;padding: 0.5rem 7rem;position: relative;z-index: 99;" type="submit" onclick="addComment()">评价</button></div>
					</div>
				</div>
			</section>
		</div>

		<!-- 其他模板的js文件引入的部份結束 -->
	</body>
	<script src="__PUBLIC__/Admin/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/layer/1.9.3/layer.js"></script>
	<script type="text/javascript">
		var rate=0;
		function chooseStar(starRate) {
			if(starRate==1) {
				$("#star1").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star2").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star_gray.png');
				$("#star3").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star_gray.png');
				$("#star4").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star_gray.png');
				$("#star5").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star_gray.png');
				rate=1;
			} else if(starRate==2) {
				$("#star1").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star2").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star3").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star_gray.png');
				$("#star4").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star_gray.png');
				$("#star5").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star_gray.png');
				rate=2;
			}  else if(starRate==3) {
				$("#star1").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star2").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star3").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star4").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star_gray.png');
				$("#star5").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star_gray.png');
				rate=3;
			}  else if(starRate==4) {
				$("#star1").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star2").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star3").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star4").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star5").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star_gray.png');
				rate=4;
			}  else if(starRate==5) {
				$("#star1").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star2").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star3").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star4").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				$("#star5").attr('src','http://mei.vshijie.cn/minsu/Public/Home/pay/star.png');
				rate=5;
			} 
		}
		
		function addComment() {
			var mess_text = $('#mess_text').val();
			$.ajax({
				url: "http://mei.vshijie.cn/bk/index.php/Home/Guest/ajaxComment",
				type: 'POST',
				dataType: 'json',
				data: {qid:{$qid},rate:rate,comment:mess_text},
				success:function(data){
					layer.msg('评价成功...', {
						icon: 1,
						time: 2000 //2秒关闭（如果不配置，默认是3秒）
					}, function(){
						window.location.href="http://mei.vshijie.cn/bk/index.php/Home/Guest/home";
					}); 
				},
				error: function(XMLHttpRequest, textStatus, errorThrown){
					alert(XMLHttpRequest.status);
					alert(XMLHttpRequest.readyState);
					alert(textStatus);
				},
				fail: function(){
					alert("fail");
				}
			});
		}
	</script>
</html>