<!DOCTYPE html>
<html style="font-size: 16px;">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta content="fullscreen=yes,preventMove=yes" name="ML-Config">

		<meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">
		<link href="http://m.lianjia.com/favicon.ico" rel="apple-touch-icon-precomposed">
		<link href="http://m.lianjia.com/favicon.ico" rel="Bookmark">
		<link href="http://m.lianjia.com/favicon.ico" rel="apple-touch-icon">

		<title>美丽新乡村</title>

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/release/index.css" media="all">
	</head>

	<body>

		<div class="lj-pages">

			<section style="" class="d-page" page-model="yezhu/yezhu">
				<div class="yezhu-wrapper">
					<div class="list">
						<div class="step stepon steps">
							<div class="header"><span class="tips"><a href="javascript:window.history.back();">&nbsp;&nbsp;<i></i>返回</a></span><span class="title">失败提示</span></div>
							<form action="{:U('Release/addHouse')}" method="post">
							<ul class="stepChange">
								<h1 style="text-align: center;background:#39AC6A;padding: 2rem;color: #FFFFFF ">:( 发布失败</h1>
								
							</ul>
							<div class="step1 next steps" data-page="step2"><a href="__ROOT__" style="border: none;background: #39AC6A;color: #FFFFFF;padding: 0.5rem 7rem;" >返回首页</a></div>
							</form>
						</div>
						
					</div>
					
				</div>
			</section>
		</div>

		
	</body>

</html>