<ul class="sidebar-menu">
	<!--菜单栏循环开始-->
	<li class="treeview">
		<a href="#">
			<i class="fa fa-diamond"></i> <span>上游产品</span> <i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			<li class="active"><a href="{:U('/')}"><i class="fa fa-circle-o"></i>产品列表</a></li>
		</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-bar-chart"></i> <span>网盟运营</span> <i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			<li class="active"><a href="{:U('Web/index')}"><i class="fa fa-circle-o"></i>运营列表</a></li>
			<li class="active"><a href="{:U('Finance/index')}"><i class="fa fa-circle-o"></i>财务列表</a></li>
		</ul>
	</li>
	
	<!--菜单栏循环结束-->
</ul>